<%-include('header')-%>

    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">

            <h1>Add Product</h1>
            <!-- LOGIN FORM -->
            <form action="/admin/add-product" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="fs-4">Name</label>
                    <input type="text" class="form-control fs-4" name="name">
                </div>

                <div class="form-group">
                    <label class="fs-4">Description</label>
                    <input type="text" class="form-control fs-4" name="description">
                </div>

                <div class="form-group">
                    <label class="fs-4">Price</label>
                    <input type="text" class="form-control fs-4" name="price">
                </div>
                <!-- Example single danger button -->

                <label for="cars" class="fs-4">Category:</label>
                <br><br>
                <select class="form-select form-select-lg mb-3" name="category">
                    <%categories.forEach((element)=>{%>
                        <option value="<%=element.name%>">
                            <%=element.name%>
                        </option>
                        <%})%>
                </select>
                <br><br>
                <div class="form-group">
                    <label for="">Image</label>
                    <input type="file" class="form-control fs-4 " name="image">
                </div>
                <div class="form-group">
                    <input type="file" class="form-control fs-4 " name="images">
                </div>
                <div class="form-group">
                    <input type="file" class="form-control fs-4 " name="imagess">
                </div>
                <div class="form-group">
                    <input type="file" class="form-control fs-4 " name="imagesss">
                </div>

                <button type="submit" class="btn btn-warning btn-lg fs-4">Add Product</button>


            </form>

            <hr>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js"></script>

    <%-include('footer')-%>