<%-include('header')-%>


    <section class="ftco-section" style="padding-top: 25vh;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 ftco-animate">
                    <form action="/updatepassword" method="post" class="billing-form">
                        <div class="row align-items-end">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="password " name="lastpassword" style="font-weight: bold;" value=""
                                        class="form-control" placeholder="Old Password">
                                </div>

                            </div>
                            <p id="error-msg" class="fs-6" style="color:rgb(170, 47, 76) "><%=passwordError%></p>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="password" name="newpassword" style="font-weight: bold;" value=""
                                        class="form-control fw" placeholder="New Password">
                                </div>
                            </div>

                        </div>
                        <button class="btn btn-primary mt-5 py-3  px-4">change Password</button>

                    </form>
                </div>
            </div>
        </div>
    </section>




    <%-include('footer')-%>